!!! 5
%html
  %head
    :css
      * { margin: 0; padding: 0; }
      html { font-size: 62.5%; }
      body { font-size: 16px; }
      div#wrapper {
        margin: 24px auto;
        width: 1000px;
      }
      h1, h2, h3, h4, h5 {
        font-family: Helvetica Neue, sans-serif;
        margin-bottom: 12px;
      }
      table {
        text-align: left;
        width: 100%;
      }
      table th {
        font-family: Helvetica Neue, sans-serif;
        background-color: #eee;
      }
      table td, table th {
        padding: 4px;
      }
      table td.critical {
        background-color: #fb9a99;
      }
      table td.down {
        background-color: #fb9a99;
      }
      table td.warning {
        background-color: #f9bb34;
      }
      table td.ok {
        background-color: #B2DF8A;
      }
      table td.up {
        background-color: #B2DF8A;
      }
  %body
    %div#wrapper
      %p
        %a(title='Dashboard' href='/') All Checks
        |
        %a(title='Dashboard' href='/failing') Failing Checks
      - if @acknowledge_success
        %h1
          %a(href="/check?entity=#{@entity}&check=#{@check}") #{@check} on #{@entity}
          has been acknowledged
      - else
        %h1
          Failed to acknowledge
          %a(href="/check?entity=#{@entity}&check=#{@check}") #{@check} on #{@entity}
