!!! 5
%html
  %head
    :css
      * { margin: 0; padding: 0; }
      html { font-size: 62.5%; }
      body { font-size: 16px; }
      div#wrapper {
        margin: 24px auto;
        width: 1000px;
      }
      h1, h2, h3, h4, h5 {
        font-family: Helvetica Neue, sans-serif;
        margin-bottom: 12px;
      }
      table {
        text-align: left;
        width: 100%;
      }
      table th {
        font-family: Helvetica Neue, sans-serif;
        background-color: #eee;
      }
      table td, table th {
        padding: 4px;
      }
      table td.critical {
        background-color: #fb9a99;
      }
      table td.down {
        background-color: #fb9a99;
      }
      table td.warning {
        background-color: #f9bb34;
      }
      table td.ok {
        background-color: #B2DF8A;
      }
      table td.up {
        background-color: #B2DF8A;
      }
  %body
    %div#wrapper
      %h1 #{@check} on #{@entity}
      %h2
        State: #{@check_state.upcase}
        - if (['warning', 'critical', 'down'].include?(@check_state) and not (@in_unscheduled_maintenance or @in_scheduled_maintenance))
          %a(href="/acknowledge?entity=#{@entity}&check=#{@check}") Acknowledge this
        - if @in_unscheduled_maintenance
          (Acknowledged)
        - if @in_scheduled_maintenance
          (Scheduled Maintenance)
      %h3 Output: #{@check_summary}
      %h4 Last state change: #{relative_time_ago(Time.at(@check_last_change.to_i))} ago (#{Time.at(@check_last_change.to_i)})
      %h4 Last update: #{relative_time_ago(Time.at(@check_last_update.to_i))} ago (#{Time.at(@check_last_update.to_i)})
      - if @last_notifications[:problem] > 0
        - last_problem = relative_time_ago(Time.at(@last_notifications[:problem])) + " ago (" + Time.at(@last_notifications[:problem]).to_s + ")"
      - else
        - last_problem = 'never'
      %h4 Last problem notification: #{last_problem}
      - if @last_notifications[:recovery] > 0
        - last_recovery = relative_time_ago(Time.at(@last_notifications[:recovery])) + " ago (" + Time.at(@last_notifications[:recovery]).to_s + ")"
      - else
        - last_recovery = 'never'
      %h4 Last recovery notification: #{last_recovery}
      - if @last_notifications[:acknowledgement] > 0
        - last_acknowledgement = relative_time_ago(Time.at(@last_notifications[:acknowledgement])) + " ago (" + Time.at(@last_notifications[:acknowledgement]).to_s + ")"
      - else
        - last_acknowledgement = 'never'
      %h4 Last acknowledgement notification: #{last_acknowledgement}
