!!! 5
- nav_haml = Haml::Engine.new(File.read(File.dirname(__FILE__) + '/_nav.haml'))
- nav      = nav_haml.render
- css_haml = Haml::Engine.new(File.read(File.dirname(__FILE__) + '/_css.haml'))
- css      = css_haml.render
%html
  %head
    %title Flapjack - Contacts
    = css
  %body
    %div#wrapper
      = nav
      %h1 Contacts
      - if @contacts && !@contacts.empty?
        %table
          %tr
            %th Name
            %th Email
          - @contacts.sort_by {|c| [c.last_name, c.first_name] }.each do |contact|
            %tr
              %td
                - link = "/contacts/#{contact.id}"
                %a(title='contact details' href=link) #{contact.name}
              %td= contact.email
      - else
        %p No contacts
