!!! 5
- nav_haml = Haml::Engine.new(File.read(File.dirname(__FILE__) + '/_nav.haml'))
- nav      = nav_haml.render
- css_haml = Haml::Engine.new(File.read(File.dirname(__FILE__) + '/_css.haml'))
- css      = css_haml.render
%html
  %head
    %title Flapjack - Self Stats
    = css
  %body
    %div#wrapper
      = nav
      %h1 Flapjack Self Status
      %h4
        Events queued:
        = @events_queued
      %h4
        Number of failing services:
        = @count
      %p Events processed: #{@event_counter_all} (ok: #{@event_counter_ok}, failure: #{@event_counter_failure}, action: #{@event_counter_action})
      %p Average rate: #{@event_rate_all} events per second
      %p Total keys in redis: #{@keys.length}
      %p Uptime: #{@uptime_string}
      %p Boot time: #{@boot_time}
      %p Current time: #{Time.now}
