<% if @auto_refresh %>
<meta http-equiv="refresh" content="<%= @auto_refresh %>" >
<% end %>
<% page_title "#{@adjective.capitalize} Checks" %>

<div class="page-header">
  <h2><%= @adjective.capitalize %> Checks</h2>
</div>

<p><%= h @count_failing_checks %> failing out of <%= h @count_current_checks %></p>

<table class="table table-bordered table-hover table-condensed tablesorter">
  <thead>
    <tr>
      <th data-placeholder="e.g. app[1-3]*">Entity</th>
      <th data-placeholder="e.g. disk">Check</th>
      <th data-placeholder="e.g. critical">State</th>
      <th data-placeholder="e.g. !simulated">Summary</th>
      <th data-placeholder="e.g. <2h 0m">Last State Change</th>
      <th data-placeholder="">Last Update</th>
      <th data-placeholder="">Last Notification</th>
    </tr>
  </thead>
  <tbody>
    <% @entities_sorted.each do |entity| %>
      <% row_entity = nil %>
      <% entity_link = @base_url + "entity/" << u(entity) %>
      <% @states[entity].each do |check, status, summary, changed, updated, in_unscheduled_outage, in_scheduled_outage, notified| %>
        <%
          row_colour = case status
          when 'critical', 'unknown'
            'danger'
          when 'ok', 'up'
            'success'
          else
            status
          end

          check_link = @base_url + "check?entity=" << u(entity) << "&amp;check=" << u(check)
        %>
        <tr class="<%= row_colour %>">
        <% unless row_entity && entity == row_entity %>
          <td>
            <a href="<%= entity_link %>"><%= h entity %></a>
          </td>
        <% end %>
          <td><a href="<%= check_link %>" title="check detail"><%= h check %></a></td>
          <td class="<%= status %>">
            <%= h status.upcase %>
            <% if in_unscheduled_outage%> (Ack'd)<% end %>
            <% if in_scheduled_outage %> (Sched)<% end %>
          </td>
          <td><div class='check_summary'><%= h summary %></div></td>
          <td><%= h changed %></td>
          <td><%= h updated %></td>
          <td><%= h notified %></td>
        </tr>

      <% end %>
    <% end %>
  </tbody>
</table>
<div id="tablesorter-pager"></div>
