<% page_title "#{@adjective.capitalize} Checks" %>

<div class="page-header">
  <h2><%= @adjective.capitalize %> Checks</h2>
</div>

<p><%= h @count_failing_checks %> failing out of <%= h @count_all_checks %></p>

<table class="table table-bordered table-hover table-condensed">
  <tr>
    <th>Entity</th>
    <th>Check</th>
    <th>State</th>
    <th>Summary</th>
    <th>Last State Change</th>
    <th>Last Update</th>
    <th>Last Notification</th>
  </tr>
  <% @entities_sorted.each do |entity| %>
    <% row_entity = nil %>
    <% entity_link = "/entity/" << u(entity) %>
    <% @states[entity].each do |check, status, summary, changed, updated, in_unscheduled_outage, in_scheduled_outage, notified| %>
      <%
        row_colour = case status
        when 'critical', 'unknown'
          'danger'
        when 'ok', 'up'
          'success'
        else
          status
        end

        check_link = "/check?entity=" << u(entity) << "&amp;check=" << u(check)

      %>
      <tr>
        <% unless row_entity && entity == row_entity %>
          <td rowspan="<%= @states[entity].length %>">
            <a href="<%= entity_link %>"><%= h entity %></a>
          </td>
          <% row_entity = entity %>
        <% end %>
        <td class="<%= row_colour %>"><a href="<%= check_link %>" title="check detail"><%= h check %></a></td>
        <td class="<%= row_colour %>">
          <%= h status.upcase %>
          <% if in_unscheduled_outage%> (Ack'd)<% end %>
          <% if in_scheduled_outage %> (Sched)<% end %>
        </td>
        <td class="<%= row_colour %>"><%= h summary %></td>
        <td class="<%= row_colour %>"><%= h changed %></td>
        <td class="<%= row_colour %>"><%= h updated %></td>
        <td class="<%= row_colour %>"><%= h notified %></td>
      </tr>

    <% end %>
  <% end %>
</table>
