<% page_title "#{h(@check)} on #{h(@entity)}" %>
<%
  check_path_escaped = u(@entity) << '/' << u(@check)
  current_time = Time.now
%>
<div class="page-header">
  <% entity_link = @base_url + "entity/" << u(@entity) %>
  <h2><%= h @check %> on <a href="<%= entity_link %>" title="entity summary"><%= h @entity %></a></h2>
</div>

<div class="row">
  <div id="state" class="col-md-6">
    <%
      state_qualifier = @check_enabled ? '' : "DISABLED. Last "
      state_class     = case @check_state
                        when 'ok'
                          'success'
                        when 'warning'
                          'warning'
                        when 'critical'
                          'danger'
                        else
                          "info #{@check_state}"
                        end

    %>

    <div class="alert alert-<%= state_class %>">
      <%= state_qualifier %>State:
      <span class="alert-link"><%= @check_state ? h(@check_state.upcase) : '' %></span>
    </div>
  </div><!-- col-md-6 -->

  <div class="col-md-6">
   <%
    if !@current_scheduled_maintenance and
       !@current_unscheduled_maintenance and
       !(['warning', 'critical', 'unknown'].include?(@check_state))
    %>
    <div id="no-maintenance-summary" class="alert alert-info">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-md-2 control-label">State</label>
          <div class="col-md-10">
            <p class="form-control-static">
              Not in scheduled or unscheduled maintenance.
            </p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <p class="form-control-static">
              <a class='btn btn-primary' href="#scheduled_maintenance_periods">Schedule Maintenance</a>
            </p>
          </div>
        </div>
      </form>
    </div>
  <% end %>

  <% if @current_unscheduled_maintenance %>
    <div id="unscheduled-maintenance-summary" class="alert alert-warning">

      <form action="<%= @base_url %>end_unscheduled_maintenance/<%= check_path_escaped %>" method="post" class="form-horizontal" role="form">

        <div class="form-group">
          <label class="col-md-3 control-label">State</label>
          <div class="col-md-9">
            <p class="form-control-static">
              Acknowledged
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Reason</label>
          <div class="col-md-9">
            <p class="form-control-static">
              <%
                ack_msg = @current_unscheduled_maintenance[:summary]
                ack_msg ||= 'No summary given'
              %>
              <%= h(ack_msg) %>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Started</label>
          <div class="col-md-9">
            <p class="form-control-static">
              <% start = Time.at(@current_unscheduled_maintenance[:start_time]).to_s %>
              <%= h(start) %>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Finishing</label>
          <div class="col-md-9">
            <p class="form-control-static">
              <% finish = Time.at(@current_unscheduled_maintenance[:start_time] + @current_unscheduled_maintenance[:duration]) %>
              <%= h(finish) %>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Remaining</label>
          <div class="col-md-9">
            <p class="form-control-static">
              <% remaining = time_period_in_words( (finish - current_time).ceil ) %>
              <%= h(remaining) %>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-3 col-md-9">
            <p class="form-control-static">
              <button id="end-unscheduled-maintenance" type="submit" class="btn btn-danger">End Unscheduled Maintenance (Unacknowledge)</button>
            </p>
          </div>
        </div>

      </form>
    </div>
  <% end %>

  <% if (['warning', 'critical', 'unknown'].include?(@check_state) and !@current_scheduled_maintenance) %>
    <div id="add-unscheduled-maintenance" class="alert alert-warning">
      <% action = @current_unscheduled_maintenance ? "Re-acknowledge" : "Acknowledge" %>
      <h4><%= action %> alert</h4>
      <form action="<%= @base_url %>acknowledgements/<%= check_path_escaped %>" method="post" class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-12 text-left">
            <label class="col-sm-3 control-label" for="summary">Summary</label>
            <div class="col-sm-9">
              <input type="hidden" name="acknowledgement_id" value="<%= @acknowledgement_id %>">
              <input type="text" class="form-control" name="summary" value=""/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <label class="col-sm-3 control-label" for="duration">Duration</label>
            <div class="col-sm-9">
              <input class="col-sm-9 form-control" type="text" name="duration" value="2 hours"/>
              <span class="help-block">
                e.g. "5 hours"
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-warning">
                <%= @current_unscheduled_maintenance ? 'Replace acknowledgment' : 'Acknowledge' %>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  <% end %>

  <% if @current_scheduled_maintenance %>
    <div id="scheduled-maintenance-summary" class="alert alert-warning">
      <div class="row">
        <div class="col-md-3 text-right">State</div>
        <div class="col-md-9">
          <a href="#scheduled_maintenance_periods" class="alert-link">In Scheduled Maintenance</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 text-right">Reason</div>
        <div class="col-md-9">
          <%
            maint_msg = "#{@current_scheduled_maintenance[:summary]}"
            maint_msg = maint_msg.length > 0 ? maint_msg : 'No summary given'
          %>
          <%= h maint_msg %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 text-right">Started</div>
        <div class="col-md-9">
          <% start = Time.at(@current_scheduled_maintenance[:start_time]).to_s %>
          <%= h(start) %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 text-right">Finishing</div>
        <div class="col-md-9">
          <% finish = Time.at(@current_scheduled_maintenance[:start_time] + @current_scheduled_maintenance[:duration]) %>
          <%= h(finish) %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 text-right">Remaining</div>
        <div class="col-md-9">
          <% remaining = time_period_in_words( (finish - current_time).ceil ) %>
          <%= h(remaining) %>
        </div>
      </div>
    </div>
  <% end %>
  </div><!-- col-md-6 -->
</div><!-- row -->

<div class="row">
  <div id="output" class="col-md-6">
    <h3>Output:</h3>
    <div class='check_summary'><%= h @check_summary %></div>
    <div class='check_details'><%= h @check_details %></div>
    <% if @check_perfdata && @check_perfdata.is_a?(Array) %>
    <h3>Performance Data:</h3>
    <table>
      <% @check_perfdata.each do |perfdata| %>
      <tr>
        <td><%= perfdata["key"] %></td>
        <td><%= perfdata["value"] %></td>
      </tr>
      <% end %>
    </table>
    <% end %>
    <table class="table table-hover table-condensed">
      <tr>
        <td>Last state change:</td>
        <td><%= h relative_time_ago(Time.at(@check_last_change.to_i)) %> ago</td>
        <td><%= h Time.at(@check_last_change.to_i).to_s %></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Last update:</td>
        <td><%= h relative_time_ago(Time.at(@check_last_update.to_i)) %> ago</td>
        <td><%= h Time.at(@check_last_update.to_i).to_s %></td>
        <td>&nbsp;</td>
      </tr>
      <% [:critical, :warning, :unknown, :recovery, :acknowledgement].each do |type| %>
        <tr>
          <td>Last <%= h type.to_s %> notification:</td>
          <td><%= @last_notifications[type] ? h(@last_notifications[type][:relative]) : 'never' %></td>
          <td><%= @last_notifications[type] ? h(@last_notifications[type][:time].to_s) : '&nbsp;' %></td>
          <td><div class='check_summary'><%= @last_notifications[type] ? h(@last_notifications[type][:summary]) : '&nbsp;' %></div></td>
        </tr>
      <% end %>
    </table>
  </div><!-- col-md-6 -->

  <div id="recent-state-changes" class="col-md-6">
    <h3>Recent state changes</h3>
    <% if @state_changes && !@state_changes.empty? %>
    <table class="table table-hover table-condensed">
      <tr>
        <th>Timestamp</th>
        <th>State</th>
        <th>Summary</th>
      </tr>
      <% @state_changes.each do |state_change| %>
      <tr>
        <td><%= h Time.at(state_change[:timestamp]).to_s %></td>
        <td><%= h state_change[:state] %></td>
        <td><div class='check_summary'><%= h state_change[:summary] %></div></td>
      </tr>
      <% end %>
    </table>
    <% else %>
    <p>No state changes recorded for this check.</p>
    <% end %>
  </div><!-- col-md-6 -->
</div><!-- row -->

<div class="row">
  <div id="failure-delays" class="col-md-6">
    <a name="failure_delays"></a>
    <h3>Failure Delays</h3>
    <table class="table table-hover table-condensed">

      <tr>
        <td>Initial failure delay:</td>
        <td><%= h(ChronicDuration.output(@check_initial_failure_delay, :keep_zero => true)) %>
          <% if @check_initial_failure_delay_is_default %>
            (default)
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Repeat failure delay:</td>
        <td><%= h(ChronicDuration.output(@check_repeat_failure_delay, :keep_zero => true)) %>
          <% if @check_repeat_failure_delay_is_default %>
            (default)
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div id="scheduled-maintenance-periods" class="col-md-12">
    <a name="scheduled_maintenance_periods"></a>
    <h3>Scheduled Maintenance Periods</h3>
    <% if @scheduled_maintenances && !@scheduled_maintenances.empty? %>
    <table class="table table-bordered table-hover table-condensed">
      <tr>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th>Summary</th>
        <th>Actions</th>
      </tr>

    <% @scheduled_maintenances.sort_by {|s| s[:start_time]}.each do |scheduled_maintenance| %>
      <%
        start_time = scheduled_maintenance[:start_time]
        end_time   = scheduled_maintenance[:end_time]
        duration   = scheduled_maintenance[:duration]
        summary    = scheduled_maintenance[:summary]
      %>
      <tr>
        <td><%= h Time.at(start_time).to_s %></td>
        <td><%= h Time.at(end_time).to_s %></td>
        <td><%= h(ChronicDuration.output(duration, :keep_zero => true) || '0 secs') %></td>
        <td><%= h summary %></td>
        <td>
        <% if end_time > current_time.to_i %>
          <% label = (start_time > current_time.to_i) ? 'Delete' : 'End Now' %>
            <form action="<%= @base_url %>scheduled_maintenances/<%= check_path_escaped %>" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="hidden" name="start_time" value="<%= start_time %>">
              <button type="submit" class="btn btn-danger"><%= label %></button>
            </form>
          <% else %>
            &nbsp;
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
  </div><!-- col-md-12 -->
<% else %>
  <p>No maintenance is scheduled</p>
<% end %>
</div><!-- row -->

<div class="row">
  <div class="col-md-8">

    <div id="add-scheduled-maintenance" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Scheduled Maintenance</h4>
      </div>
      <div class="panel-body">
        <form action="<%= @base_url %>scheduled_maintenances/<%= check_path_escaped %>" method="post" role="form" class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-2 control-label" for="start_time">Start time:</label>
            <div class="col-sm-9">
              <input type="text" name="start_time" class="form-control" size="20" maxlength="80" value="">
              <span class="help-block">
                e.g. "today 4pm", "two hours hence", "friday 2pm", "2012-01-28 13:00"
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="duration">Duration:</label>
            <div class="col-sm-9">
              <input type="text" name="duration" class="form-control" size="20" maxlength="80" value="">
              <span class="help-block">
                e.g. "1 hour", "2:30:00", "three days", etc
              </span>
            </div>
          </div>

          <div class="col-sm-9 col-md-offset-2">
            <div class="alert alert-info">
              Times given will be interpreted in the local timezone of
              <span class="alert-link"><%= h(local_timezone) %></span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="summary">Summary:</label>
            <div class="col-sm-9">
              <input type="text" name="summary" class="form-control" size="80" maxlength="160" value="">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-9">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </form><!-- form-horizontal-->

      </div><!-- panel-body -->
    </div><!-- panel panel-default -->
  </div><!-- col-md-8 -->
</div><!-- row -->


<div class="row">
  <div id="contacts" class="col-md-8">
    <h3>Contacts</h3>
    <% if @contacts && !@contacts.empty? %>
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <th>Name</th>
          <th>Media</th>
        </tr>
        <% @contacts.sort_by {|c| [c.first_name, c.last_name] }.each do |contact| %>
          <tr>
            <td><a href="<%= @base_url %>contacts/<%= contact.id %>" title="contact details"><%= h contact.name %></a></td>
            <td>
              <% if contact.media && !contact.media.empty? %>
                <p><%= h contact.media.keys.collect(&:capitalize).join(", ") %></p>
              <% else %>
                <p>No media</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p>There are <strong>no contacts</strong> associated with this check.</p>
    <% end %>
  </div><!-- col-md-8 -->
</div><!-- row -->

<div id="zone-of-surprise" class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-warning"></i>
          Zone of Surprise
        </h3>
      </div>
      <div class="panel-body">
      <% if @check_enabled %>
        <h4>Decommission check</h4>
        <form action="<%= @base_url %>checks/<%= check_path_escaped %>" method="post" style="display:inline-block" class="pull-right">
          <input type='hidden' name='_method' value='delete'>
          <button type='submit' class="btn btn-danger decommission-check">Decommission Check</button>
        </form>
        <p>
          Hide the check from the Flapjack web interface.
          Use this if you are no longer actively running this check.
        </p>
        <p>
          Flapjack will automatically re-commission this check if it receives another event for it.
        </p>
      <% else %>
        <p>
          This check has been decommissioned.
        </p>
        <p>
          Flapjack will re-commission this check if it receives another event for it.
        </p>
      <% end %>
      </div><!-- panel-body -->
    </div><!-- panel-danger -->
  </div><!-- col-md-8 col-md-offset-2 -->
</div><!-- row -->
