<% if @auto_refresh %>
<meta http-equiv="refresh" content="<%= @auto_refresh %>" >
<% end %>
<% page_title "Checks" %>

<div class="page-header">
  <h2>Checks</h2>
</div>

<div class="row">
  <div class="col-md-12">

    <form action="<%= @base_url %>checks" method="get" role="form" class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-2 control-label" for="start_time">Name:</label>
        <div class="col-sm-6">
          <input type="text" name="name" class="form-control" size="20" maxlength="80" value="<%= h params[:name] %>">
          <span class="help-block">
            e.g. the exact name, or a /regexp/
          </span>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-success">Refresh</button>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="start_time">Enabled?</label>
        <div class="col-sm-2">
          <select name="enabled" class="form-control">
            <option value="f"<%= @enabled.is_a?(FalseClass) ? 'selected' : '' %>>No</option>
            <option value="t"<%= @enabled.is_a?(TrueClass) ? 'selected' : '' %>>Yes</option>
            <option value=""<%= @enabled.nil? ? 'selected' : '' %>>All</option>
          </select>
          <span class="help-block">
            Filter by whether checks are enabled
          </span>
        </div>
        <label class="col-sm-2 control-label" for="start_time">Failing?</label>
        <div class="col-sm-2">
          <select name="failing" class="form-control">
            <option value="f"<%= @failing.is_a?(FalseClass) ? 'selected' : '' %>>No</option>
            <option value="t"<%= @failing.is_a?(TrueClass) ? 'selected' : '' %>>Yes</option>
            <option value=""<%= @failing.nil? ? 'selected' : '' %>>All</option>
          </select>
          <span class="help-block">
            Filter by whether checks are failing
          </span>
        </div>
        <div class="col-sm-4"></div>
      </div>

    </form><!-- form-horizontal-->

  </div>
</div>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th data-placeholder="e.g. app[1-3]*:disk">Check</th>
      <th data-placeholder="e.g. critical">State</th>
      <th data-placeholder="e.g. !simulated">Summary</th>
      <th data-placeholder="e.g. <2h 0m">Last State Change</th>
      <th data-placeholder="">Last Update</th>
      <th data-placeholder="">Last Notification</th>
    </tr>
  </thead>
  <tbody>
    <% @checks.each do |check| %>
      <%
        status = @states[check[:id]]

        row_colour = case status[:condition]
        when 'critical', 'unknown'
          'danger'
        when 'ok', 'up'
          'success'
        else
          status[:condition]
        end

        check_link = @base_url + "checks/" + u(check[:id])
      %>
      <tr class="<%= row_colour %>">
        <td><a href="<%= check_link %>" title="check detail"><%= h check[:name] %></a></td>
        <td>
          <%= h status[:condition].upcase %>
          <% if false %> (Ack'd)<% end %>
          <% if false %> (Sched)<% end %>
        </td>
        <td><%= h status[:summary] %></td>
        <td><%= h status[:last_changed] %></td>
        <td><%= h status[:last_updated] %></td>
        <td><%= h status[:last_notified] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= erb '_pagination.html'.to_sym, :layout => false %>
