!!! 5
- nav = render_haml('_nav.haml', self)
- head = render_haml('_head.haml', self)
- foot = render_haml('_foot.haml', self)
%html
  %head
    %title Flapjack - Contacts
    = head
  %body
    %div#wrap
      %div{:class => "container"}
        %div{:class => "page-header"}
          = nav
          %h1 Contacts
        - if @contacts && !@contacts.empty?
          %table{:class => "table table-bordered table-hover table-condensed"}
            %tr
              %th Name
              %th Email
            - @contacts.sort_by {|c| [c.last_name, c.first_name] }.each do |contact|
              %tr
                %td
                  - link = "/contacts/#{contact.id}"
                  %a(title='contact details' href=link) #{contact.name}
                %td= contact.email
        - else
          %p No contacts
      %div#push
    %div#footer
      = foot
