!!! 5
- nav = render_haml('_nav.haml', self)
- css = render_haml('_css.haml', self)
%html
  %head
    %title Flapjack - Contacts
    = css
  %body
    %div#wrapper
      = nav
      %h1 Contacts
      - if @contacts && !@contacts.empty?
        %table
          %tr
            %th Name
            %th Email
          - @contacts.sort_by {|c| [c.last_name, c.first_name] }.each do |contact|
            %tr
              %td
                - link = "/contacts/#{contact.id}"
                %a(title='contact details' href=link) #{contact.name}
              %td= contact.email
      - else
        %p No contacts
