<% page_title "#{@adjective.capitalize} Entities" %>

<div class="page-header">
  <h2><%= h @adjective.capitalize %> Entities</h2>
</div>

<p><%= h @count_failing_entities %> failing out of <%= h @count_all_entities %></p>

<% if @entity_names.length > 0 %>
<table class="table table-bordered table-hover table-condensed tablesorter">
  <thead>
    <tr>
      <th data-placeholder="e.g. app[1-3]*">Entity</th>
    </tr>
  </thead>
  <tbody>
    <% @entity_names.sort.each do |entity_name| %>
      <tr>
        <td><a href="<%= @base_url %>entities/<%= u(entity.id) %>"><%= h entity_name %></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>No check output has been processed yet, so there are no entities we can show you here.</p>
<% end %>
