!!! 5
- nav = render_haml('_nav.haml', self)
- head = render_haml('_head.haml', self)
- foot = render_haml('_foot.haml', self)
%html
  %head
    %title Flapjack - #{@adjective.capitalize} Entities
    = head
  %body
    %div#wrap
      %div{:class => "container"}
        %div{:class => "page-header"}
          = nav
          %h2 #{@adjective.capitalize} Entities
        %p #{@count_failing_entities} failing out of #{@count_all_entities}
        %table{:class => "table table-bordered table-hover table-condensed"}
          - if @entities.length > 0
            - @entities.each do |entity|
              %tr
                %td
                  - link = "/entity/#{CGI.escape(entity)}"
                  %a{:href => link}
                    #{entity}
          - else
            %p No check output has been processed yet, so there's no entities we can show you here.
      %div#push
    %div#footer
      = foot
