!!! 5
- nav = render_haml('_nav.haml', self)
- head = render_haml('_head.haml', self)
- foot = render_haml('_foot.haml', self)
%html
  %head
    %title Flapjack - #{@entity} (entity)
    = head
  %body
    %div#wrap
      %div{:class => "container"}
        %div{:class => "page-header"}
          = nav
          %h2 #{@entity}
        - if @states.length > 0
          %table{:class => "table table-bordered table-hover table-condensed"}
            %tr
              %th Check
              %th State
              %th Summary
              %th Last State Change
              %th Last Update
              %th Last Notification
            - @states.each do |check, status, summary, changed, updated, in_unscheduled_outage, in_scheduled_outage, notified|
              - colour_class = status
              - case status
              - when 'critical', 'unknown'
                - colour_class = 'error'
              - when 'ok', 'up'
                - colour_class = 'success'
              %tr{:class => colour_class}
                %td
                  - link = "/check?entity=" + CGI.escape(@entity) + "&check=" + CGI.escape(check)
                  %a(title='check detail' href=link) #{check}
                %td
                  = status.upcase
                  = " (Ack'd)" if in_unscheduled_outage
                  = " (Sched)" if in_scheduled_outage
                %td= summary
                %td= changed
                %td= updated
                %td= notified
        - else
          %div#foo
            %p This entity has no check output associated with it
      %div#push
    %div#footer
      = foot
