!!! 5
- nav = render_haml('_nav.haml', self)
- head = render_haml('_head.haml', self)
- foot = render_haml('_foot.haml', self)
%html
  %head
    %title Flapjack - Summary
    = head
  %body
    %div#wrap
      %div{:class => "container"}
        %div{:class => "page-header"}
          = nav
          %h1 Summary
        %h4
          %a(title='failing entities' href='/entities_failing')
            #{@count_failing_entities}
          out of
          %a(title='all entities' href='/entities_all')
            #{@count_all_entities}
          entities have failing checks
        %h4
          %a(title='failing checks' href='/checks_failing')
            #{@count_failing_checks}
          out of
          %a(title='all checks' href='/checks_all')
            #{@count_all_checks}
          checks are failing
        %img{:src => '/img/flapjack_white_bg_400_353.jpeg', :height => 353, :width => 400}
      %div#push
    %div#footer
      = foot
