!!! 5
- nav = render_haml('_nav.haml', self)
- css = render_haml('_css.haml', self)
%html
  %head
    %title Flapjack - Self Stats
    = css
  %body
    %div#wrapper
      = nav
      %h1 Flapjack Self Status
      %h4
        Events queued:
        = @events_queued
      %h4
        Number of failing services:
        = @count
      %p Events processed (all time): #{@event_counters['all']} (ok: #{@event_counters['ok']}, failure: #{@event_counters['failure']}, action: #{@event_counters['action']})
      %p Events processed (this instance): #{@event_counters_instance['all']} (ok: #{@event_counters_instance['ok']}, failure: #{@event_counters_instance['failure']}, action: #{@event_counters_instance['action']})
      %p Average rate (this instance): #{@event_rate_all} events per second
      %p Total keys in redis: #{@keys.length}
      %p Uptime: #{@uptime_string}
      %p Boot time: #{@boot_time}
      %p Current time: #{Time.now}
      %p Executive Instances: #{@executive_instances.inspect}
      %p
        %a{:href => 'self_stats.json'} Instrument as JSON
