<style type="text/css" media="screen">
  #container {
    text-transform: uppercase;
  }
  table {
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid #666;
    padding: 4px;
  }
</style>

<p>Hi <%= @alert.medium.contact.name %></p>

<p>Monitoring has detected the following:</p>

<% check = @alert.check -%>
<table>
  <tbody>
    <tr>
      <td><strong>Check</strong></td>
      <td><%= check.name %></td>
    </tr>

    <tr>
      <td><strong>State</strong></td>
      <td><%= @alert.state_title_case %></td>
    </tr>

    <% summary = @alert.summary -%>
    <% unless summary.nil? || summary.empty? -%>
      <tr>
        <td><strong>Summary</strong></td>
        <td><%= summary %></td>
      </tr>
    <% end %>

    <% details = @alert.details -%>
    <% unless details.nil? || details.empty? -%>
      <tr>
        <td><strong>Details</strong></td>
        <td><%= details %></td>
      </tr>
    <% end %>

    <% time = @alert.time -%>
    <% unless time.nil? -%>
      <tr>
        <td><strong>Time</strong></td>
        <td><%= Time.at(time.to_i).to_s %></td>
      </tr>
    <% end %>

    <% condition_duration = @alert.condition_duration -%>
    <% unless condition_duration.nil? || (condition_duration <= 40.0) -%>
      <tr>
        <td><strong>Duration</strong></td>
        <td><%= ChronicDuration.output(condition_duration, :keep_zero => true) || '0 secs' %></td>
      </tr>
    <% end %>

    <% unless @alert.last_state.nil? -%>
      <tr>
        <td><strong>Previous State</strong></td>
        <td><%= @alert.last_state_title_case %></td>
      </tr>
    <% end %>

    <% last_summary = @alert.last_summary -%>
    <% unless last_summary.nil? || last_summary.empty? -%>
      <tr>
        <td><strong>Previous Summary</strong></td>
        <td><%= last_summary %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<p>Cheers,<br/>
Flapjack</p>
