<style type="text/css" media="screen">
  #container {
    text-transform: uppercase;
  }
  table {
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid #666;
    padding: 4px;
  }
</style>

<p>Hi <%= @alert.medium.contact.name %></p>

<p>Monitoring has detected the following:</p>

<% check = @alert.check -%>
<table>
  <tbody>
    <tr>
      <td><strong>Check</strong></td>
      <td><%= check.name %></td>
    </tr>

    <tr>
      <td><strong>State</strong></td>
      <td><%= @alert.state_title_case %></td>
    </tr>

    <tr>
      <td><strong>Summary</strong></td>
      <td><%= @alert.summary %></td>
    </tr>

    <% details = @alert.details; if details -%>
      <tr>
        <td><strong>Details</strong></td>
        <td><%= details %></td>
      </tr>
    <% end %>

    <% time = @alert.time; if time -%>
      <tr>
        <td><strong>Time</strong></td>
        <td><%= Time.at(time.to_i).to_s %></td>
      </tr>
    <% end %>

    <% condition_duration = @alert.condition_duration -%>
    <% if condition_duration && (condition_duration > 40) %>
      <tr>
        <td><strong>Duration</strong></td>
        <td><%= ChronicDuration.output(condition_duration, :keep_zero => true) || '0 secs' %></td>
      </tr>
    <% end %>

    <% if @alert.last_state -%>
      <tr>
        <td><strong>Previous State</strong></td>
        <td><%= @alert.last_state_title_case %></td>
      </tr>
    <% end %>

    <% last_summary = @alert.last_summary; if last_summary -%>
      <tr>
        <td><strong>Previous Summary</strong></td>
        <td><%= last_summary %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<p>Cheers,<br/>
Flapjack</p>
