<style type="text/css" media="screen">
  #container {
    text-transform: uppercase;
  }
  table {
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid #666;
    padding: 4px;
  }
</style>

<p>Hi <%= @contact_first_name%></p>

<p>Monitoring has detected the following:</p>

<table>
  <tbody>
    <tr>
      <td>Entity</td>
      <td><%= @entity_name %></td>
    </tr>

    <tr>
      <td>Check</td>
      <td><%= @check %></td>
    </tr>

    <tr>
      <td>State</td>
      <td><%= @state.upcase %></td>
    </tr>

    <tr>
      <td>Summary</td>
      <td><%= @summary %></td>
    </tr>

    <% if @details %>
      <tr>
        <td>Details</td>
        <td><%= @details %></td>
      </tr>
    <% end %>

    <tr>
      <td>Time</td>
      <td><%= Time.at(@time.to_i).to_s %> (<%= @relative %> ago)</td>
    </tr>

    <% if @last_state %>
      <tr>
        <td>Previous state</td>
        <td><%= @last_state %></td>
      </tr>
    <% end %>

    <% if @last_summary %>
      <tr>
        <td>Previous summary</td>
        <td><%= @last_summary %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<p>Cheers,</p>
<p>Flapjack</p>
