<style type="text/css" media="screen">
  #container {
    text-transform: uppercase;
  }
  table {
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid #666;
    padding: 4px;
  }
</style>

<p>Hi <%= @contact_first_name%></p>

<p>Monitoring has detected the following:</p>

<table>
  <tbody>
    <tr>
      <td><strong>Rollup</strong></td>
      <td><%= @rollup %></td>
    </tr>
    <tr>
      <td><strong>Entity</strong></td>
      <td><%= @entity_name %></td>
    </tr>

    <tr>
      <td><strong>Check</strong></td>
      <td><%= @check %></td>
    </tr>

    <tr>
      <td><strong>State</strong></td>
      <td><%= @state.upcase %></td>
    </tr>

    <tr>
      <td><strong>Summary</strong></td>
      <td><%= @summary %></td>
    </tr>

    <% if @details %>
      <tr>
        <td><strong>Details</strong></td>
        <td><%= @details %></td>
      </tr>
    <% end %>

    <% if @time %>
      <tr>
        <td><strong>Time</strong></td>
        <td><%= Time.at(@time.to_i).to_s %></td>
      </tr>
    <% end %>

    <% if @duration && @duration > 40 %>
      <tr>
        <td><strong>Duration</strong></td>
        <td><%= ChronicDuration.output(@duration) %></td>
      </tr>
    <% end %>

    <% if @last_state %>
      <tr>
        <td><strong>Previous State</strong></td>
        <td><%= @last_state.upcase %></td>
      </tr>
    <% end %>

    <% if @last_summary %>
      <tr>
        <td><strong>Previous Summary</strong></td>
        <td><%= @last_summary %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<p>Cheers,</p>
<p>Flapjack</p>
