<%
  require_css 'bootstrap'
  require_css 'screen'
  require_css 'font-awesome'

  require_js  'jquery-1.10.2'
  require_js  'moment'
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= h include_page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<%= @base_url %>img/flapjack-favicon-64-32-24-16.ico"> <!-- thank you http://xiconeditor.com/ -->
    <%= include_required_css %>
    <%= include_required_js %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse" role="navigation">

      <div class="navbar-header">
        <a class="navbar-brand" title="Summary" href="<%= @base_url %>">
          <img alt="Flapjack" class="logo" src="<%= @base_url %><%= @logo_image_file ? "img/branding#{@logo_image_ext}" : @default_logo_url %>">
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav">
          <li<%= include_active?('') %>>
            <a title="Summary" href="<%= @base_url %>">
              <i class="fa fa-list fa-lg"></i>
              Summary
            </a>
          </li>
          <li<%= include_active?('checks_all') %>>
            <a title="Tags" href="<%= @base_url %>tags">
              <i class="fa fa-tags fa-lg"></i>
              Tags
            </a>
          </li>
          <li<%= include_active?('checks') %>>
            <a title="Checks" href="<%= @base_url %>checks">
              <i class="fa fa-check-circle-o fa-lg"></i>
              Checks
            </a>
          </li>
          <li<%= include_active?('contacts') %>>
            <a title="Contacts" href="<%= @base_url %>contacts">
              <i class="fa fa-users fa-lg"></i>
              Contacts
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li<%= include_active?('self_stats') %>>
            <a title="Internal Statistics" href="<%= @base_url %>self_stats">
              <i class="fa fa-tachometer fa-lg"></i>
              Internal Statistics
            </a>
          </li>
        </ul>

      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <p class="credits">Flapjack version <%= ::Flapjack::VERSION %>
        <span class="separator">|</span>
        <a href="http://flapjack.io" target="_website">
          <i class="fa fa-cloud"></i>
          Flapjack Website
        </a>
        <span class="separator">|</span>
        <a href="https://github.com/flapjack/flapjack" target="_github">
          <i class="fa fa-github"></i>
          Flapjack on GitHub
        </a>
      </p>
    </footer>
  </body>
</html>
