%style{:type => "text/css", :media => "screen"}
  :plain
    #container {
      text-transform: uppercase;
    }
    table {
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid #666;
      padding: 4px;
    }

%p= "Hi #{@contact_first_name},"

%p Monitoring has detected the following:

%table
  %tbody
    %tr
      %td
        %strong Entity
      %td= @entity
    %tr
      %td
        %strong Check
      %td= @check
    %tr
      %td
        %strong State
      %td= @state.upcase
    %tr
      %td
        %strong Summary
      %td= @summary
    %tr
      %td
        %strong Time
      %td= Time.at(@time.to_i).to_s
    %tr
      %td
        %strong Flapjack
      %td
        %a(href="http://127.0.0.1:9292/check?entity=#{@entity}&amp;check=#{@check}") http://127.0.0.1:9292/check?entity=#{@entity}&amp;check=#{@check}

%p Cheers,
%p Flapjack

